bootstrap/cache/*
database
storage/app/private/*
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
tests
vendor

.editorconfig
.gitattributes
.gitignore

package-lock.json
package.json
package-lock.json

.php-cs-fixer.dist.php

phpunit.xml
postcss.config.js
README.md
tailwind.config.js
vite.config.js

.env
.env.example
.env.local.example
.env.development.example
.env.staging.example
.env.production.example

_ide_helper.php
